Library/
Logs/AssetImportWorker0-prev.log
Logs/Packages-Update.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityLockfile
Temp/workerlic
.vs/JumpGame/v15/Server/sqlite3/db.lock
.vs/JumpGame/v15/Server/sqlite3/storage.ide
.vs/JumpGame/v15/Server/sqlite3/storage.ide-shm
.vs/JumpGame/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
JumpGame.sln
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.Player.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.Player.csprojAssemblyReference.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/Unity.CollabProxy.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Unity.CollabProxy.Editor.csprojAssemblyReference.cache
obj/Debug/Unity.PlasticSCM.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Unity.Rider.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Unity.TextMeshPro.csproj.CoreCompileInputs.cache
obj/Debug/Unity.TextMeshPro.csprojAssemblyReference.cache
obj/Debug/Unity.TextMeshPro.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Unity.TextMeshPro.Player.csproj.CoreCompileInputs.cache
obj/Debug/Unity.TextMeshPro.Player.csprojAssemblyReference.cache
obj/Debug/Unity.Timeline.csproj.CoreCompileInputs.cache
obj/Debug/Unity.Timeline.csprojAssemblyReference.cache
obj/Debug/Unity.Timeline.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Unity.Timeline.Player.csproj.CoreCompileInputs.cache
obj/Debug/Unity.Timeline.Player.csprojAssemblyReference.cache
obj/Debug/Unity.VisualStudio.Editor.csproj.CoreCompileInputs.cache
obj/Debug/Unity.VisualStudio.Editor.csprojAssemblyReference.cache
obj/Debug/Unity.VSCode.Editor.csproj.CoreCompileInputs.cache
obj/Debug/UnityEditor.TestRunner.csproj.CoreCompileInputs.cache
obj/Debug/UnityEditor.TestRunner.csprojAssemblyReference.cache
obj/Debug/UnityEditor.UI.csproj.CoreCompileInputs.cache
obj/Debug/UnityEngine.TestRunner.csproj.CoreCompileInputs.cache
obj/Debug/UnityEngine.TestRunner.csprojAssemblyReference.cache
obj/Debug/UnityEngine.TestRunner.Player.csproj.CoreCompileInputs.cache
obj/Debug/UnityEngine.TestRunner.Player.csprojAssemblyReference.cache
obj/Debug/UnityEngine.UI.csproj.CoreCompileInputs.cache
obj/Debug/UnityEngine.UI.csprojAssemblyReference.cache
obj/Debug/UnityEngine.UI.Player.csproj.CoreCompileInputs.cache
obj/Debug/UnityEngine.UI.Player.csprojAssemblyReference.cache
Temp/
Unity.CollabProxy.Editor.csproj
Unity.PlasticSCM.Editor.csproj
Unity.Rider.Editor.csproj
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.TextMeshPro.Player.csproj
Unity.Timeline.csproj
Unity.Timeline.Editor.csproj
Unity.Timeline.Player.csproj
Unity.VisualStudio.Editor.csproj
Unity.VSCode.Editor.csproj
UnityEditor.TestRunner.csproj
UnityEditor.UI.csproj
UnityEngine.TestRunner.csproj
UnityEngine.TestRunner.Player.csproj
UnityEngine.UI.csproj
UnityEngine.UI.Player.csproj
obj/
Logs/
